.footer {
  background-color: nth($background-colors, 2);
  padding-top: 3.625rem;
  padding-bottom: 4.6875rem;

  &__logo {
    margin-bottom: 1.9375rem;

    span {
      font-family: $secundary-font;
      font-weight: $fw-normal;
      font-size: 1.125rem;
      line-height: 1rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $white;
      margin-left: 1rem;
    }
  }

  &__copyright {
    font-family: $secundary-font;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $font-gray-opacity-4;
  }

  @include break(768px) {
    & {
      @include flexible(center);
    }

    &__logo {
      @include flexible();
      margin-right: 5.0625rem;

      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &__copyright {
      align-self: flex-end;
      text-align: left;
    }
  }
}

.address {
  @extend .footer__copyright;
  margin-bottom: 1.1875rem;
  @include break(768px) {
    & {
      margin-bottom: 0;
      margin-right: 5rem;
    }
  }

  @include break(1200px) {
    & {
      margin-right: 19.875rem;
    }
  }
}

.email-no-style {
  color: $font-gray-opacity-4;
}
