.hero {
  @include background-img("../assets/background-image-1.jpg");
  position: relative;

  &__animated-pic1 {
    width: 480px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10px, 65px);
    opacity: 0;
    animation: shine 3s 1.5s linear infinite alternate;

    @include break(768px) {
      & {
        width: 489px;
        top: 5px;
        right: 0;
        transform: translate(12px, 55px);
      }
    }
  }

  &__animated-pic2 {
    display: none;

    @include break(768px) {
      display: block;
      width: 767px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-30px, 15px);
      z-index: 1;
      animation: popUp 3s infinite alternate;
    }
  }

  &__animated-pic3 {
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-5px, -15px);
    animation: popUpMobile 3s infinite alternate;

    @include break(768px) {
      display: none;
    }
  }
}

.header {
  @include flexible(space-between);
  margin-bottom: 12.625rem;
  padding: 3.56rem 1rem 0 1.5rem;
  position: relative;
  z-index: 2;

  .nav {
    display: none;
    @include break(768px) {
      & {
        display: block;
        flex-grow: 2;
        margin-left: 10.3125rem;
      }
    }
  }

  &__menu {
    padding-top: 0.5rem;
    @include flexible-item(center);
    & hr {
      border: none;
      width: 1.375rem;
      height: 2px;
      margin-bottom: 0.2rem;
      background-color: $white;
    }

    @include break(768px) {
      & {
        display: none;
      }
    }
  }

  @include break(768px) {
    margin-left: 6rem;
    margin-right: 2rem;
    max-width: 40.6875rem;
    padding: 3.56rem 0 0;
  }

  @include break(1200px) {
    margin-left: 10rem;
    margin-right: 18.125rem;
  }

  a {
    color: $white;
    font-family: $secundary-font;
    font-weight: 600;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.nav {
  &__list {
    list-style-type: none;
    @include flexible(space-between);
  }

  &__item a {
    font-style: normal;
    font-size: 0.875rem;
    font-weight: $fw-normal;
    line-height: 1rem;
    letter-spacing: 0.2em;
  }
}

.hero-info {
  padding-bottom: 15.38rem;
  position: relative;
  z-index: 2;

  &__headline {
    font-size: 3rem;
    font-weight: $fw-bold;
    line-height: 4rem;
    color: $white;
    margin-bottom: 2.6rem;
  }

  &__subheading {
    font-size: 1.5rem;
    font-family: $secundary-font;
    font-weight: $fw-normal;
    font-style: normal;
    line-height: 2rem;
    color: $font-gray-color;
  }

  &__logo {
    transition: transform 0.5s ease-in;
    &:hover {
      transform: rotateY(180deg) scale(1.5);
    }
  }
}
